PORT=3001
MONGODB_URI=
WEB_APP_ORIGIN=http://localhost:3000

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0

YOUTUBE_DATA_API_KEY=